* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.dark-styling {
  background-color: #1f2937;
  color: #f9faf8;
}

.button-styling {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px;
}

header ul {
  display: flex;
  gap: 20px;
}

header ul li {
  list-style-type: none;
}

img {
  width: 400px;
  height: 400px;
}

.AwesomeSignUpSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 30px;
}

.AwesomeSignUpSection div {
  max-width: 350px;
}

.AwesomeSignUpSection button {
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.smallerImage {
  width: 200px;
  height: 200px;
}

.randomInfoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}
.randomInformationGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.randomInfo {
  display: flex;
  min-width: 150px;
  max-width: 150px;
  gap: 16px;
  flex: 1;
  margin-right: auto;
}

.randomInfo img {
  width: 100%;
  border: 3px solid #3882f6;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.randomInformationGroup div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.inspiringQuoteSection {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 80px 140px;
}

.inspiringQuoteSection p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.inspiringQuoteSection .quotedAuthor {
  font-size: 24px;
  padding-top: 1em;
  margin-left: auto;
  font-style: normal;
}

.callToActionSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.callToActionSection .callToActionSignUp {
  background-color: #3882f6;
  display: flex;
  color: #f9faf8;
  padding: 20px;
  border-radius: 20px;
}

.callToActionSignUp button {
  border: 1px #f9faf8 solid;
  margin-left: 100px;
  border-radius: 10px;
  padding: 5px 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 25px;
}
