* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  gap: 20px;
  margin: 20px;
}

header ul li {
  list-style-type: none;
}

img {
  width: 400px;
  height: 400px;
}

.smallerImage {
  width: 200px;
  height: 200px;
}

.randomInformationGroup {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.randomInformationGroup div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.inspiringQuoteSection {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.inspiringQuoteSection p {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.inspiringQuoteSection .quotedAuthor {
  font-size: 24px;
  padding-top: 2em;
  margin-left: auto;
}
